body{
	margin: 10px;
	font-family: "raleway", "sans-serif";
	background-color:#304B5F;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.center{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
	border-width: 10px;
	border-color: white;
	border-radius: 2px;
	border-style: solid;

}

/*warnings and messages*/
span{
	color: red;
	font-weight: 900;
}

/*mission statement*/
.mission{
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
}

.logo{
	background-color: #304B5F;
}

.nav .menu{
	display: block;

	/*float: right;*/
/*	background-color: #304B5F;*/
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	/*position: absolute;*/
}

li{
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-size: small;
	text-decoration: none;
}

.jumbotron{
	background-image: url(../images/travel6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	margin-top: 50px;
	/*padding: 20%;*/
	background-attachment: fixed;
	background-position: center center;
	image-rendering: -webkit-optimize-contrast;
	/*background: transparent;*/
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px);
{}

.img-responsive {
	height:200px;
	width: 200px;
	display: inline-block;
	width:33%;
	border-width: 1px;
	border-color: black;
	border-radius: 2px;
	border-style: solid;

}



/*.container-fluid .row .col-sm-4 .img-responsive{
	display: inline-block;
	width: 33%;
}

.row {
	display: inline-block;
	width: 33%;*/
}
/*.col-sm-4{

	display: inline-block;
	width: 33%;
}*/


.footer{
	margin-bottom: 1px;
	
}